<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fii.industrial.cidesoft.horariofii">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bienvenido.TempwelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pruebas.PruebasFirebase" />
        <activity android:name=".login.loginActivity" />
        <activity android:name=".acercaDe.AboutActivity" />
        <activity android:name=".escogerEscuela.SchoolAct" />
        <activity android:name=".escogerCiclo.CiclesAct" />
        <activity android:name=".resumenCursos.ResumenAct"></activity>
    </application>

</manifest>