<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fii.industrial.cidesoft.horariofii">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bienvenido.BienvenidoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pruebas.PruebasFirebase"></activity>
        <activity android:name=".bienvenido.loginActivity"></activity>
        <activity android:name=".acercaDe.planillaH"></activity>
        <activity android:name=".escogerEscuela.EscogerEscuela"></activity>
        <activity android:name=".escogerCiclo.Ciclos"></activity>
    </application>

</manifest>