<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fii.industrial.cidesoft.horariofii">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashScreen_0.SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bienvenido.TempwelcomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".pruebas.PruebasFirebase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_1.loginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".acercaDe_9.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".escogerEscuela_4.SchoolAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".escogerCiclo_5.CiclesAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resumenCursos_7.ResumenAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nombre_2.NombreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cursosLista_3.Panel_Curso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pruebas.TestHorarios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".escogerSecciones_6.PickActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pruebas.ActivityPruebas" />
    </application>

</manifest>